#circle1{

    border-radius:50%;
    width: 300px; 
    height:300px;
    background: linear-gradient(#fb5dad, #55fb9f,#b97aff);
    box-shadow: 30px 0px 60px 1px #55fba050,

                -30px 0px 60px 1px #050210,

                0px 30px 60px 1px #b87aff70,

                0px -30px 60px 1px #fb5dac70;
    position: relative;
    margin: 0 auto;
    top: 100px;
} 
#circle2 {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background: #050210;
    position: relative;
    margin: 0 auto;
    top: 23px;
}
#rectangle {
    width: 600px;
    height: 500px;
    background: #050210;
    margin: 0 auto;
    margin-top: 100px;
}