#circle1{

    border-radius:50%;
    width: 400px; 
    height: 400px;
    background: linear-gradient(#fb5dad, #55fb9f,#b97aff);
    box-shadow: 30px 0px 60px 1px #55fba050,

                -30px 0px 60px 1px #55fba050,

                0px 30px 60px 1px #b87aff70,

                0px -30px 60px 1px #fb5dac70;
    margin: 0 auto;
    position: relative;
    top: 50px;
    animation: rotation-animation 1.9s infinite linear;
    filter: blur(1px) opacity(90%);
} 
@keyframes rotation-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
#circle2 {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background: #050210;
    margin: 0 auto;
    top: 23px;

    position: relative;
}
#rectangle {
    width: 600px;
    height: 500px;
    background: #050210;
    margin: 0 auto;
    margin-top: 100px;
}
#circle3 {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(7, 7, 78);
    margin: 0 auto;
    top: 200px;
}